extend layout

block rightMenu

block contentRight	
	#section1.section
		.sousSection#presentation
			h1 About Me
			img#contactPhoto(src='img/photo.jpg')
			p.introductionPar
				| Hello, my name is Etienne Chaumont, I&apos;m a c᷿r̥e̲a͖t̠i᷃v̬e̤ ̸d̎e̞v̅e̞l̝o̰p͖eͬr̤ from France. I love front-end development, weird experiments, game design, alternative ways of thinking, new technologies
				| noisy music and italian B movies.
	a.separator .̡᷿͌.̡ͥ̆.̨̡̼
	
	#section2.section
		.sousSection#skills
			h1 My Skills
				h2.left Front-End
				p HTML5 // CSS3 // Jade // Javascript // Jquery // Three.js
				h2 Back-End
				p Node.js // Express // PHP // Symfony 2 (basics)
				h2.left Mobile
				p Objective-C // Java
				h2 Creative
				p Unity3D // LeapMotion // Arduino // Processing



	a.separator .̹̓͂ͪ.ͣ͂̆.᷉͂̏
	
	#section3.section
		.sousSection#experience
			h1 Experience
				h2.date 2013 - 2015
				h2.left front-end / back-end dev at Les Editions Hatier
				p Polyvalent development on a lot of projects : HTML5 games, building a search engine in PHP, integrating websites...
				p.miniSeparator .̡᷿ͥ̆.̨̡̼
				h2.date.left 2013 (3 months)
				h2 Internship front-end dev at HAPPYneuron
				p Game development with a custom javascript engine.
				p.miniSeparator .̡᷿ͥ̆.̨̡̼
				h2.date 2012 (3 months)
				h2.left Internship front-end dev at Portsmouth University
				p Integration on a project called KEEP, meant to store data about obsolete computers.
	a.separator .̡᷿͌.̡ͥ̆.̨̡̼
	
	#section4.section
		.sousSection#games(title="Games")
			h1 Games
				p.gamesPar Game design is difficult, yet fascinating. I have no pretension to be an expert on the subject, but I love turning a "what if you could do this in a game..." into a playable prototype. I mainly use Unity3D, but, I hope to find the time to trie the Unreal Engine soon.
		.sousSection#russian(title="Russian Planet")
			h1 Russian Planet
			img.russianPhoto.glitchPhoto.photoProjet(src='img/russianglitch.png')
			p.russianPar
				Ipsum dolor sit amet, consectetur adipiscing elit. Nulla et libero eu lectus fringilla condimentum. Morbi fringilla, odio sed egestas porttitor, tellus sem congue elit, eu tempus mauris augue in arcu. Mauris venenatis sapien id sapien aliquet tincidunt. Morbi facilisis ex sit amet luctus varius. Suspendisse quis dui orci. Nulla eget dolor bibendum, consectetur justo ut, porttitor libero. Nam facilisis vestibulum odio. Vivamus egestas hendrerit enim eget egestas. Donec ullamcorper varius congue.
		.sousSection#graveyard(title="Graveyard Slot")
			h1 Graveyard Slot
			p.graveyardPar
				Ipsum dolor sit amet, consectetur adipiscing elit. Nulla et libero eu lectus fringilla condimentum. Morbi fringilla, odio sed egestas porttitor, tellus sem congue elit, eu tempus mauris augue in arcu. Mauris venenatis sapien id sapien aliquet tincidunt. Morbi facilisis ex sit amet luctus varius. Suspendisse quis dui orci. Nulla eget dolor bibendum, consectetur justo ut, porttitor libero. Nam facilisis vestibulum odio. Vivamus egestas hendrerit enim eget egestas. Donec ullamcorper varius congue.
		.sousSection#luft(title="Luftstoner")
			h1 Luftstoner
			p.luftPar
				Ipsum dolor sit amet, consectetur adipiscing elit. Nulla et libero eu lectus fringilla condimentum. Morbi fringilla, odio sed egestas porttitor, tellus sem congue elit, eu tempus mauris augue in arcu. Mauris venenatis sapien id sapien aliquet tincidunt. Morbi facilisis ex sit amet luctus varius. Suspendisse quis dui orci. Nulla eget dolor bibendum, consectetur justo ut, porttitor libero. Nam facilisis vestibulum odio. Vivamus egestas hendrerit enim eget egestas. Donec ullamcorper varius congue.
	a.separator .̡᷿͌.̡ͥ̆.̨̡̼
	
	#section5.section
		.sousSection#applications(title="Applications")
			h1 Applications
			p.applicationsPar
				Ipsum dolor sit amet, consectetur adipiscing elit. Nulla et libero eu lectus fringilla condimentum. Morbi fringilla, odio sed egestas porttitor, tellus sem congue elit, eu tempus mauris augue in arcu. Mauris venenatis sapien id sapien aliquet tincidunt. Morbi facilisis ex sit amet luctus varius. Suspendisse quis dui orci. Nulla eget dolor bibendum, consectetur justo ut, porttitor libero. Nam facilisis vestibulum odio. Vivamus egestas hendrerit enim eget egestas. Donec ullamcorper varius congue.
		.sousSection#timbre(title="Timbre")
			h1 Timbre
			img.timbrePhoto.glitchPhoto.photoProjet(src='img/timbre2glitch.png')
			img.timbrePhoto.photoProjet(src='img/timbre2.png')
			p.timbrePar
				Ipsum dolor sit amet, consectetur adipiscing elit. Nulla et libero eu lectus fringilla condimentum. Morbi fringilla, odio sed egestas porttitor, tellus sem congue elit, eu tempus mauris augue in arcu. Mauris venenatis sapien id sapien aliquet tincidunt. Morbi facilisis ex sit amet luctus varius. Suspendisse quis dui orci. Nulla eget dolor bibendum, consectetur justo ut, porttitor libero. Nam facilisis vestibulum odio. Vivamus egestas hendrerit enim eget egestas. Donec ullamcorper varius congue.
	a.separator .̡᷿͌.̡ͥ̆.̨̡̼

	#section6.section
		.sousSection#experiments(title="Experiments")
			h1 Experiments
			p.experimentsPar
				I use a lot of my free time trying to implement ideas that I find interesting. Most of the time I use javascript, as it's a powerful and quick tool for prototyping. A great way to see if your idea does work as intended.
		.sousSection#ltpitd(title="Landscapes to Play in the Dark")
			h1 Landscapes to Play in the Dark
			p.ltpitdPar
				Ipsum dolor sit amet, consectetur adipiscing elit. Nulla et libero eu lectus fringilla condimentum. Morbi fringilla, odio sed egestas porttitor, tellus sem congue elit, eu tempus mauris augue in arcu. Mauris venenatis sapien id sapien aliquet tincidunt. Morbi facilisis ex sit amet luctus varius. Suspendisse quis dui orci. Nulla eget dolor bibendum, consectetur justo ut, porttitor libero. Nam facilisis vestibulum odio. Vivamus egestas hendrerit enim eget egestas. Donec ullamcorper varius congue.
		.sousSection#pheromone(title="Phéromones")
			h1 Phéromones
			p.pheromone
				Ipsum dolor sit amet, consectetur adipiscing elit. Nulla et libero eu lectus fringilla condimentum. Morbi fringilla, odio sed egestas porttitor, tellus sem congue elit, eu tempus mauris augue in arcu. Mauris venenatis sapien id sapien aliquet tincidunt. Morbi facilisis ex sit amet luctus varius. Suspendisse quis dui orci. Nulla eget dolor bibendum, consectetur justo ut, porttitor libero. Nam facilisis vestibulum odio. Vivamus egestas hendrerit enim eget egestas. Donec ullamcorper varius congue.
	a.separator .̡᷿͌.̡ͥ̆.̨̡̼

	#section7.section
			.sousSection#contact(title="Contact Me")
				h1 Contact Me
				p.contactPar
					Ipsum dolor sit amet, consectetur adipiscing elit. Nulla et libero eu lectus fringilla condimentum. Morbi fringilla, odio sed egestas porttitor, tellus sem congue elit, eu tempus mauris augue in arcu. Mauris venenatis sapien id sapien aliquet tincidunt. Morbi facilisis ex sit amet luctus varius. Suspendisse quis dui orci. Nulla eget dolor bibendum, consectetur justo ut, porttitor libero. Nam facilisis vestibulum odio. Vivamus egestas hendrerit enim eget egestas. Donec ullamcorper varius congue.
