extend layout

block rightMenu

block contentRight	
	#section1.section
		.sousSection#presentation
			h1 About Me
			img#contactPhoto(src='img/photo.jpg')
			p.introductionPar
				| Hello, my name is Etienne Chaumont, I&apos;m a c᷿r̥e̲a͖t̠i᷃v̬e̤ ̸d̎e̞v̅e̞l̝o̰p͖eͬr̤ from France. I love front-end development, weird experiments, game design, alternative ways of thinking, new technologies
				| noisy music and italian B movies.
	a.separator .̡᷿͌.̡ͥ̆.̨̡̼
	
	#section2.section
		.sousSection#skills
			h1 My Skills
				h2.left Front-End
				p HTML5 // CSS3 // Jade // Javascript // Jquery // Three.js
				h2 Back-End
				p Node.js // Express // PHP // Symfony 2 (basics)
				h2.left Mobile
				p Objective-C // Java
				h2 Creative
				p Unity3D // LeapMotion // Arduino // Processing



	a.separator .̹̓͂ͪ.ͣ͂̆.᷉͂̏
	
	#section3.section
		.sousSection#experience
			h1 Experience
				h3.date 2013 - 2015
				h2.left front-end / back-end dev at Les Editions Hatier
				p Polyvalent development on a lot of projects : HTML5 games, building a search engine in PHP, integrating websites...
				p.miniSeparator .̡᷿ͥ̆.̨̡̼
				h3.date.left 2013 (3 months)
				h2 Internship front-end dev at HAPPYneuron
				p Game development with a custom javascript engine.
				p.miniSeparator .̡᷿ͥ̆.̨̡̼
				h3.date 2012 (3 months)
				h2.left Internship front-end dev at Portsmouth University
				p Integration on a project called KEEP, meant to store data about obsolete computers.
	a.separator .̡᷿͌.̡ͥ̆.̨̡̼
	
	#section4.section
		.sousSection#games(title="Games")
			h1 Games
				p.gamesPar Game design is difficult, yet fascinating. I have no pretension to be an expert on the subject, but I love turning a "what if you could do this in a game..." into a playable prototype. I mainly use Unity3D, but, I hope to find the time to trie the Unreal Engine soon.
		.sectionContainer
			.sousSection#russian.projectBlock(title="Russian Planet")
				h1 Russian Planet
				img.russianPhoto.glitchPhoto.photoProjet(src='img/russian.png')
				p.russianPar Russian Planet is a top-down shooter inspired by games like Alien Breed or Teleglitch. It features randomly generated levels, permadeath, and a lot of alien blood. I've been working on this game on my free time for almost a year now. It's a lot more complex than the prototypes I'm used to make. You can try the last build 
					a(href='projects/russian/russian.html') here.

			.sousSection#graveyard.projectBlock(title="Graveyard Slot")
				h1 Graveyard Slot
				img.russianPhoto.glitchPhoto.photoProjet(src='img/graveyardslot.png')
				p.graveyardPar Graveyard Slot was our entry, me, and three other students from Gobelins, for the 31th Ludum Dare. Over the course of one little cold winter of december, we tried to make a horror game about a kid watching TV all night long, in order to forget there's a monster in his closet... We ended #256 overall and #23 for the mood category, on a total of 1269 entries. You can try it 
					a(href='http://ludumdare.com/compo/ludum-dare-31/?action=preview&etype=open') here.

			.sousSection#luft.projectBlock(title="Luftstoner")
				h1 Luftstoner
				img.russianPhoto.glitchPhoto.photoProjet(src='img/luftstoner.png')
				p.luftPar Luftstoner is a cool little shooter I made after watching Jan Willem Nijman lecture's The Art of Screenshake. I wanted to make a simple game, yet fun, addictive, and with a very good gamefeel. So I took one of Vlambeer best game : Luftrausers, and tried to copy just what made the game so thrilling. I think I succeded, but you don't have to trust me : 
					a(href='projects/luftstoner/luftstoner.html') try for yourself.
	a.separator .̡᷿͌.̡ͥ̆.̨̡̼
	
	#section5.section
		.sousSection#applications(title="Applications")
			h1 Applications
			p.applicationsPar
		.sectionContainer
			.sousSection#timbre.projectBlock(title="Timbre")
				h1 Timbre
				img.timbrePhoto.photoProjet(src='img/timbre.png')
				p.timbrePar Timbre is an experimental application I worked on during my first year at Gobelin's. It uses spacialized sound, images, text, and procedurally generated content to create a bond between two individuals, through technology and poetry. You can see the website of the project 
					a(href='http://hugo.land/timbre/') here.
	a.separator .̡᷿͌.̡ͥ̆.̨̡̼

	#section6.section
		.sousSection#experiments(title="Experiments")
			h1 Experiments
			p.experimentsPar I use a lot of my free time trying to implement ideas that I find interesting. Most of the time I use javascript, as it's a powerful and quick tool for prototyping. A great way to see if your idea does work as intended.
		.sectionContainer
			.sousSection#ltpitd.projectBlock(title="Landscapes to Play in the Dark")
				h1 Landscapes to Play in the Dark
				img.ltpidPhoto.glitchPhoto.photoProjet(src='img/ltsitd.png')
				p.ltpitdPar Landscapes In The Dark is an experiment in WebGL meant to reproduce visually the mood of the pieces of music contained on Coil's Musick to Play in the Dark. Coil being my favourite band, it occured to me one day that tr'nuitanscribing their universe in visual manifestations could lead to interesting, surrealistic pieces of art. This was also, for me, a way to learn Three.js. You can try my interpretation of "Are You Shivering" 
					a(href='projects/shivering/shivering.html') here.

			.sousSection#days.projectBlock(title="Days")
				h1 Days
				img.daysPhoto.glitchPhoto.photoProjet(src='img/days.png')
				p.days An experimental landscape generator made during a one week workshop at Gobelin's. I was inspired by David O’Reilly's game : Mountain. You can try it
					a(href='http://experiments.crma.ninja/project/etienne-chaumont') here.
	a.separator .̡᷿͌.̡ͥ̆.̨̡̼

	#section7.section
			.sousSection#contact(title="Contact Me")
				h1 Contact Me
				p.contactPar I'm currently looking for work. I'm available on Paris and Lyon. I'd love to hear from you, and eventually, work with you. If you think you're looking to hire a cool front-end/creative dev, or just want to meet me, don't hesitate, you can find me there :
				.contactContainer
					.contactSection#linkedin
						img(src='img/linkedin.png')
					.contactSection#github
						img(src='img/github.png')
					.contactSection#twitter
						img(src='img/twitter.png')
					.contactSection#facebook
						img(src='img/fb.png')
					.contactSection#spotify
						img(src='img/spotify.png')
