extend layout

block rightMenu

block contentRight
	#section1.section
		h1 About Me
		img#contactPhoto(src='img/photo.png')
		p.introductionPar
			| Hello, my name is Etienne Chaumont, I&apos;m a c᷿r̥e̲a͖t̠i᷃v̬e̤ ̸d̎e̞v̅e̞l̝o̰p͖eͬr̤ from France. I love f̱̾̾r̶̾̾o̾͏̾n̾ͧ̾t̾͐̾-̩̾̾e᷂̾̾n̾ͬ̾ḍ̾̾ and back-end development, innovative and user-friendly interfaces, new ways of thinking,
			| game making and, most of all,	burgers.
	a.separator .̡᷿͌.̡ͥ̆.̨̡̼
	#section2.section
		h1 My Skills
		p.skillsPar
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et libero eu lectus fringilla condimentum. Morbi fringilla, odio sed egestas porttitor, tellus sem congue elit, eu tempus mauris augue in arcu. Mauris venenatis sapien id sapien aliquet tincidunt. Morbi facilisis ex sit amet luctus varius. Suspendisse quis dui orci. Nulla eget dolor bibendum, consectetur justo ut, porttitor libero. Nam facilisis vestibulum odio. Vivamus egestas hendrerit enim eget egestas. Donec ullamcorper varius congue.
	a.separator .̹̓͂ͪ.ͣ͂̆.᷉͂̏
	#section3.section
		h1 Experience
		p.experiencePar
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et libero eu lectus fringilla condimentum. Morbi fringilla, odio sed egestas porttitor, tellus sem congue elit, eu tempus mauris augue in arcu. Mauris venenatis sapien id sapien aliquet tincidunt. Morbi facilisis ex sit amet luctus varius. Suspendisse quis dui orci. Nulla eget dolor bibendum, consectetur justo ut, porttitor libero. Nam facilisis vestibulum odio. Vivamus egestas hendrerit enim eget egestas. Donec ullamcorper varius congue.
	a.separator .̡᷿͌.̡ͥ̆.̨̡̼
	#section4.section
		h1 Timbre
		img.timbrePhoto.glitchPhoto.photoProjet(src='img/timbre2glitch.png')
		img.timbrePhoto.photoProjet(src='img/timbre2.png')
		p.timbrePar
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et libero eu lectus fringilla condimentum. Morbi fringilla, odio sed egestas porttitor, tellus sem congue elit, eu tempus mauris augue in arcu. Mauris venenatis sapien id sapien aliquet tincidunt. Morbi facilisis ex sit amet luctus varius. Suspendisse quis dui orci. Nulla eget dolor bibendum, consectetur justo ut, porttitor libero. Nam facilisis vestibulum odio. Vivamus egestas hendrerit enim eget egestas. Donec ullamcorper varius congue.
	a.separator .̠.ͮ.͇̻̅
	#section5.section
		h1 Russian Planet
		img.russianPhoto.glitchPhoto.photoProjet(src='img/russianglitch.png')
		p.russianPar
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et libero eu lectus fringilla condimentum. Morbi fringilla, odio sed egestas porttitor, tellus sem congue elit, eu tempus mauris augue in arcu. Mauris venenatis sapien id sapien aliquet tincidunt. Morbi facilisis ex sit amet luctus varius. Suspendisse quis dui orci. Nulla eget dolor bibendum, consectetur justo ut, porttitor libero. Nam facilisis vestibulum odio. Vivamus egestas hendrerit enim eget egestas. Donec ullamcorper varius congue.

			

