doctype
html
  head
    title #{title} - Etienne Chaumont - WORSHIP THE GLITCH
    link(rel='icon' type='image/png' href='img/icon.png')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,400italic,500italic,700,700italic,900italic,900', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js')
    script(src='/lib/tween/index.js')
    script(src='/js/script.js')

  body
    #loader
      h1 W̓םR̩S̼H̜IͭP͘ ᷉ŢH᷅Ḛ ͮGͣL̃ȊT͍C᷈H̞ ᷀ ͜    
    nav#menuLeftSide
      ul
        li
          h2 Ī̤
          a(href="#section1") About Me
        li
          h2 I᷇I͖᷇᷇
          a(href="#section2") Skills
        li
          h2 I̷͗͗I͗́͗I͗ͬ͗
          a(href="#section3") Experience
        li
          h2 I̲V̗̆̈
          a(href="#section4") Games
        li
          h2 V̺᷈᷈
          a(href="#section5") Applications
        li
          h2 V̗̀̔I̥͗̀
          a(href="#section6") Experiments
        li
          h2 V̥I̫I̩̳͝
          a(href="#section7") Contact Me

 

    #rightSide
        span#showButton.buttonMenu
          span
        #contentRight
            block contentRight
   
    #menuRightSide
      ul
    
    footer