extend leftSideLayout

block app
	ul#app
		li(data='<h1>Phéromones</h1>')
			img(src='/img/timbre2.png')
block exp
	ul#exp
		li(data='<h1>Landscapes to Stare in the Dark</h1>')
			img(src='/img/ltsitd2.png')

block sit
	ul#sit

block jeu
	ul#jeu
		li(data='<h1>Zéphir</h1>')
			img(src='/img/zephir.png')
		li(data='<h1>Russian Planet</h1>')
			img(src='/img/russian.png')
