#floatingMenu.leftPush
      #selectorLeft.selector
      #selectorRight.selector
      #hideButton
        span
      #insideMenu
      #logo
        include metaLogo.jade
      #menuTexte
        h1 ETIENNE CHAUMONT
        ul
          li.menuElement 
            a APPLICATIONS
          li.menuElement 
            a EXPERIENCES
          li.menuElement 
            a SITES
          li.menuelement 
            a JEUX
        span#separator
        a#contactButton