script(type='text/javascript').
    var canvas;
      tailleCanvas ={
      w:200,
      h:200
      }
      var minThresh = 0.00001;
      var maxThresh = 100;
      var metaTab = [];
      var width = tailleCanvas.w;
      var height = tailleCanvas.h;
      canvas = document.createElement('canvas');
      context = canvas.getContext('2d');
      $('#logo').append(canvas);
      canvas.width = width + 50;
      canvas.height = height + 50;
      /*context.fillStyle = "rgba(0,0,0,1)";
      context.fillRect(0,0,canvas.width,canvas.height);*/
      var MetaBall = function(x,y){
      this.x0 = x;
      this.y0 = y;
      this.r = 10;
      this.dirX = 1*Math.random();
      this.dirY = 1*Math.random();
      }
      MetaBall.prototype.draw = function(x,y){
      var ratio = this.r/Math.sqrt((x-this.x0)*(x-this.x0) + (y-this.y0)*(y-this.y0))
      //var ratio = this.r/(Math.abs(x-this.x0) + Math.abs(y-this.y0));
      return ratio;
      }
      MetaBall.prototype.move = function(){
      var rand = Math.random();
      if(rand < 0.5){
      this.x0 += 0.0001;
      }
      else if(rand > 0.5){
      this.x0 -= 0.1;
      }
      rand = Math.random();
      if(rand < 0.5){
      this.y0 += 0.0001;
      }
      else if(rand > 0.5){
      this.y0 -= 0.0001;
      }
      this.x0 += this.dirX/10;
      this.y0 += this.dirY/10;
      this.collide();
      }
      MetaBall.prototype.collide = function(){
      if(this.x0 > tailleCanvas.w){
      this.x0 = tailleCanvas.w-1;
      this.dirX = -this.dirX;
      this.dirY = -this.dirY;
      }
      if(this.y0 > tailleCanvas.h){
      this.y0 = tailleCanvas.h-1;
      this.dirX = -this.dirX;
      this.dirY = -this.dirY;
      }
      if(this.x0 < 0+50){
      this.x0 = 0+51;
      this.dirX = -this.dirX;
      this.dirY = -this.dirY;
      }
      if(this.y0 < 0+50){
      this.y0 = 0+51;
      this.dirX = -this.dirX;
      this.dirY = -this.dirY;
      }
      }
      for(var i = 0; i < 5; i++){
      metaTab[i] = new MetaBall(Math.random()*tailleCanvas.w,Math.random()*tailleCanvas.h);
      }
      var refresh = function(){
      for(var i = 0; i < metaTab.length; i++){
      metaTab[i].move();
      }
      //context.fillStyle = "rgba(0,0,0,0)";
      context.clearRect(0,0,canvas.width,canvas.height)
      //context.fillRect(0,0,canvas.width,canvas.height);
      var i = canvas.width;
      while(i>0){
      var j = canvas.height;
      while(j>0){
      var sum = 0;
      for(var k = 0; k < metaTab.length; k++){
      sum += metaTab[k].draw(i,j);
      }
      if(sum > 1 && sum < 1.3){
      context.fillStyle = "rgba(200,250,200,"+sum+")";
      context.fillRect(i,j,1,1);
      }
      j--;
      }
      i--;
      }
      requestAnimationFrame(refresh);
      }
      refresh();
