#rightSide.rightSidePush
      #rightMenu.rightMenuPush
          ul
            li
              a(href='#section1') SECTION 1
            li
              a(href='#section2') SECTION 1
            li
              a(href='#section3') SECTION 1
        span#showButton
          span
        #contentRight
          #section1.section
          #section2.section
          #section3.section