extend layout

block contentRight
	#section1.section
		h1 About Me
			img#contactPhoto(src='img/photo.png')
			h2
				b
				| Hello, my name is Etienne Chaumont, I&apos;m a 
				span.important multimedia developer
				|	 from France. I love 
				span.important front-end
				|	 and 
				span.important back-end
				|	 development, innovative and user-friendly interfaces, new ways of thinking, 
				span.important game making
				|	 and, most of all,	
				span.important burgers
				| .
				ul#iconsAbout
				li
					img(src='img/iconOrdi.png')
				li
					img(src='img/iconGame.png')
				li
					img(src='img/iconBurger.png')
	