/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes reset { 100% { -moz-transform: rotate(0deg); } }
@-webkit-keyframes reset { 100% { -webkit-transform: rotate(0deg); } }
@keyframes reset { 100% { -webkit-transform: rotate(0deg); transform:rotate(0deg); } }

@-moz-keyframes animPhoto {0% { opacity: 0;}, 100% { opacity: 1;} }
@-webkit-keyframes animPhoto {0% { opacity: 0;}, 100% { opacity: 1;} }
keyframes animPhoto {0% { opacity: 0;}, 100% { opacity: 1;} }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* POST RESET ----------------------------------------------------------------------------------------------------------------------------------------- */

*{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;  
}

*::-webkit-scrollbar{ 
    display: none; 
}

#loader{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  top: 0;
  left: 0;
  z-index: 2;
}

#loader h1{
  width: 20%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  padding: 3%;
}

body{

}

h1{
  font-size: 80px;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

h2{
  font-weight: bold;
  font-size: 19px;
  font-style: italic;

}

p{
  font-size: 19px;
}

#logo{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  opacity: 0.3;
  position: relative;
  height: 22%;
}

#logo img{
    border-radius: 360px;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  position: absolute;
}

#logo img:nth-child(1){
  -webkit-animation: spin linear 40s infinite;
  -webkit-animation-direction:reverse;
  -moz-animation: spin linear 40s infinite;
  -moz-animation-direction:reverse;
  
}

#logo img:nth-child(2){
  -webkit-animation: spin linear 20s infinite;
  -moz-animation: spin linear 20s infinite;
}

#logo img:nth-child(3){
  -webkit-animation: spin linear 10s infinite;
  -moz-animation: spin linear 10s infinite;
}

#logo canvas{
  width: 100%;
}

#contactPhoto{
  border-radius: 360px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 290px;
  display: block;
}

#rightSide{
  -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  float: left;
  height: 100%;
  width: calc(100% - 300px);
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  -moz-transform: translateX(10px);
  transform: translateX(10px);
  margin-left: 100px;
  padding-top: 30px;
}

#rightSide img{

}

.rightSideShrink{

   -webkit-transform:translateX(200px)!important;
   -ms-transform:translateX(200px)!important;
   -o-transform:translateX(200px)!important;
   -moz-transform:translateX(200px)!important;
   transform:translateX(200px)!important;
}


#contentRight{
  padding: 0%;
  min-height: 955px;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  width: 74%;
  padding-left: 200px;

}

#contentRight h1{
  text-align: center;


}

#skills h2, #experience h2{
  text-align: left;
  width: 23%;
  margin-top: 50px;
  font-size: 19px;
  line-height: 47px;
  border-left: solid;
  font-style: italic;



}

.preludeSection{
    margin-bottom: 40px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.preludeSection h1{
  text-align: center;
  font-size: 4vw;
  margin-bottom: 70px;
}

.preludeSection p{
    margin-top: 50px;
}

#contentRight p{

  line-height: 47px;
  padding: 0% 2% 0% 2%;

}

#contentRight .introductionPar{
    border-right: solid;
    width: 300px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

#skills, #experience{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#skills *, #experience * {
  margin-top: 20px!important;
  text-align: center!important;
}

#experience h2, #experience p{
  width: 100%;
}

h2.left{

}

#contentRight .photoProjet{

}

#contentRight *{

}

.separator{
  width: 100%;
  text-align: center;
  font-size: 30px;
  float: left;
  line-height: 48px;
  height: 100px;
  margin-top: 300px;
  margin-bottom: 300px;
  font-weight: lighter;
}

.headPhoto{
  border-radius: 360px;
  width: 30%;
  margin-left: 35% !important;
  margin-right: 35% !important;
}



#contentRight #contactPhoto{

}


.section{
  float: left;
  width: 100%;
}

.sectionContainer{
  width: 80%;
  float: left;
  margin-left: 10%;
 
}

.projectBlock{
  float: left;
  width: 100%;
  margin-bottom: 70px;
}

.projectBlock h2{
   margin-top: 50px!important;
  line-height: 47px!important;
  font-style: italic!important;
  margin-bottom: 50px!important;
  text-align: center!important;
  width: 100%;
  margin-right: auto!important;
  /* Sale, à corriger*/
}

.projectBlock img{
  float: left;
  width: 280px;
  margin-right: 5%;
}

.projectBlock p{
  float: left;
  width: 60%;
  padding: 0%!important;
  text-align: left;
}

#section7{
  float: left;
  text-align: center;
}

#contactContainer{
    width: 80%;
  float: left;
  margin-left: 10%;
  text-align: center;
}

.contactSection{
    display: inline-block;
  position: relative;
  margin: 4%;
}

.contactSection img{
  width: 100px;
}


/*--- Menu Right Side ---*/

nav{
      -webkit-transition: width 500ms cubic-bezier(0.19, 1, 0.22, 1); 
   -moz-transition: width 500ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: width 500ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: width 500ms cubic-bezier(0.19, 1, 0.22, 1);
  position: fixed;
  height: 100%;
  width: 100px;
  overflow: hidden !important;
  background-color: black;
  left: 0;
    color: white;
  text-align: center;
  z-index: 1;
}

.navExpand ul{
  max-height: 100%;
  overflow-y: hidden;
}

.navExpand{
  width: 300px;
}

.navExpand ul li{
  cursor: pointer;
}

.navExpand ul li a{
  opacity: 1;
  padding-top: 1%;
  border-top: solid;
  border-color: black;
}



nav ul li{
  height: 60px;
  margin-top: 60px;
  margin-bottom: 60px;
}

nav ul li h2{
  font-size: 21px;
  font-weight: lighter;

}

nav ul li a{
 -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
-moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
-o-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
opacity: 0;
color: white;
font-family: 'Roboto', sans-serif;
font-weight: lighter;
line-height: 50px;
}

#menuRightSide{
-webkit-transition: opacity 1000ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   -moz-transition: opacity 1000ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
     -o-transition: opacity 1000ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
        transition: opacity 1000ms cubic-bezier(0.165, 0.840, 0.440, 1.000); /* easeOutQuart */
  position: fixed;
  height: 100%;
  width: 200px;
  overflow: hidden !important;
  right: 0px;
  color: white;
  text-align: center;
  opacity: 0.5;
}

.menuRightSideHalfHidden{
  opacity: 0.1!important;
}

.menuRightSideHidden{
  opacity: 0!important;
}

#menuRightSide ul{
  height: 70vh;
  margin-top: 30vh;
  color: black;
}

#menuRightSide ul span{
  width: 6%;
height: 30px;
background-image: url('../../img/losange.png');
float: left;
margin-left: 47%;
margin-right: 47%;
margin-top: 40px;
margin-bottom: 40px;
background-size: contain;
background-repeat: no-repeat;
opacity: 0.5;
}

#menuRightSide ul li{
  -webkit-transition: color 1000ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   -moz-transition: color 1000ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
     -o-transition: color 1000ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
        transition: color 1000ms cubic-bezier(0.165, 0.840, 0.440, 1.000); /* easeOutQuart */
  margin-top: 10%;
  opacity: 0.8;
  cursor: pointer;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto;
  
  color: #D3D3D3;
}

.chosenProject{
  color: black!important;
}

#menuRightSide ul li:hover{
  opacity: 1;
}

}

/*MENU SHIFT*/
@media screen and (max-width: 1024px) {

#rightSide{
}



nav{
  display: none!important;
}

#menuRightSide{
  display: none!important;
}




.sousSection{
  float: left;
  width: 100%;

}

.sousSection h1{
  margin-top: 10%;
  margin-bottom: 10%;
  font-family: "Roboto";
  font-size: 9pc;
  font-weight: lighter;
  text-align: center;
  width: 100%;
}

.separator{
  display: none;
}

#presentation p{
  display: none;
}

.sousSection p{
  font-size: 3pc;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
}

#contactPhoto{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 500px;
  margin-top: 20px;
}

.introductionPar{
/*  text-align: center;
  font-size: 3pc;
  padding: 7%;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;*/
}

/*.sousSection *{
 display: none;
}*/

#section1{
  display: block!important;
}


#presentation{

}

}

/*--- Projects ---*/





/*--- Games ---*/






@media screen and (max-width: 1024px) {

  h1{
    font-size: 60px!important;

  }

  h2{
     font-size: 40px!important;


  }

  p{
    font-size: 30px!important;
  }

  #contentRight h2{
    border:none!important;
    text-align: center!important;
    width: 100%!important;
    line-height: 47px!important;
    font-style: italic!important;
  }

  #rightSide{
  -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  float: left;
  height: 100%;
  width: calc(100%);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0);
  margin-left: 0;

  }

  #menuLeftSide{
    display: none!important;
  }

  #menuRightSide{
    display: none!important;
  }

  #rightSide{
    margin: 0!important;
    padding: 0;
    width: 100%!important;
  }

  #section1{
    margin-top: 150px!important;
  }

  .introductionPar{
    border-right: none!important;
    text-align: center!important;
    width: 80%!important
  }

  #skills, #experience{
    width: 90%!important;
    margin-left: auto;
    margin-right: auto;
  }

  .separator{
    margin: 50px 0% 50px 0%!important;
  }

  .projectBlock h2{
    width: 100%!important;
    padding: 3% 0% 3% 0%;
    border: solid;
  }

  .projectBlock img{
    width: 100%!important;
  }

  .projectBlock p{
    margin-top: 30px;
    width: 100%!important;
  }

  #contentRight{
    padding: 0;
    margin: 0!important;
    width: 100%!important;
  }
}