/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes reset { 100% { -moz-transform: rotate(0deg); } }
@-webkit-keyframes reset { 100% { -webkit-transform: rotate(0deg); } }
@keyframes reset { 100% { -webkit-transform: rotate(0deg); transform:rotate(0deg); } }

@-moz-keyframes animPhoto {0% { opacity: 0;}, 100% { opacity: 1;} }
@-webkit-keyframes animPhoto {0% { opacity: 0;}, 100% { opacity: 1;} }
keyframes animPhoto {0% { opacity: 0;}, 100% { opacity: 1;} }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* POST RESET ----------------------------------------------------------------------------------------------------------------------------------------- */

*{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;  
}

*::-webkit-scrollbar{ 
    display: none; 
}

body{

}

h1{
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

#logo{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  opacity: 0.3;
  position: relative;
  height: 22%;
}

#logo img{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  position: absolute;
}

#logo img:nth-child(1){
  -webkit-animation: spin linear 40s infinite;
  -webkit-animation-direction:reverse;
  -moz-animation: spin linear 40s infinite;
  -moz-animation-direction:reverse;
  
}

#logo img:nth-child(2){
  -webkit-animation: spin linear 20s infinite;
  -moz-animation: spin linear 20s infinite;
}

#logo img:nth-child(3){
  -webkit-animation: spin linear 10s infinite;
  -moz-animation: spin linear 10s infinite;
}

#logo canvas{
  width: 100%;
}



#rightSide{
    -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1); 
   -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
float: left;
height: 100%;
width: 100%;

   -webkit-transform:translateX(10px);
   -ms-transform:translateX(10px);
   -o-transform:translateX(10px);
   -moz-transform:translateX(10px);
   transform:translateX(10px);

}


.rightSideShrink{

   -webkit-transform:translateX(200px)!important;
   -ms-transform:translateX(200px)!important;
   -o-transform:translateX(200px)!important;
   -moz-transform:translateX(200px)!important;
   transform:translateX(200px)!important;
}


#contentRight{
  padding: 0%;
  min-height: 955px;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;

}

#contentRight h1{
  text-align: center;
  margin-bottom: 40px;

}

#contentRight h2{
  text-align: left;
  width: 23%;
  margin-top: 50px;
  font-size: 19px;
  line-height: 47px;
  padding-left: 32px;
  border-right: solid;

}

#contentRight p{
  

  margin-top: 50px;
  font-size: 19px;
  line-height: 47px;
  padding-left: 32px;

}

#contentRight .introductionPar{
    border-right: solid;
      width: 23%;
      text-align: left;
}

#contentRight .skillsPar{
  width: 75%;
  text-align: right;
  border-left: solid;

}

#contentRight .photoProjet{
  position: absolute;
  width: 340px;
  border-radius: 360px;

}

.glitchPhoto{

}

/*-- Timbre --*/

#contentRight .timbrePar{
  width: 75%;
  text-align: right;
  border-left: solid;
  margin-left: -10%;
  
}

#contentRight .timbrePhoto{
  right: 15%;
}

#contentRight .glitchPhoto{
       -webkit-transition: all 1500ms cubic-bezier(0.19, 1, 0.22, 1); 
   -moz-transition: all 1500ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 1500ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1500ms cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 1;
}

#contentRight .glitchPhoto:hover{
       -webkit-transition: all 1500ms cubic-bezier(0.19, 1, 0.22, 1); 
   -moz-transition: all 1500ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 1500ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1500ms cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 0;
}

/*-- Russian Planet --*/

#contentRight .russianPar{
   width: 75%;
  text-align: left;
  border-right: solid;
  border-right-width: initial;
  border-right-style: solid;
  border-right-color: initial;
  margin-left: 29%;
  
}

#contentRight .russianPhoto{
  left: 15%;
}

#contentRight *{
  /*---transition---*/
  margin-left: auto;
  margin-right: auto;
  /*line-height: 35px;*/
}

.separator{
  width: 100%;
  text-align: center;
  font-size: 30px;
  float: left;
  line-height: 48px;
  height: 100px;
  margin-bottom: 150px;
  font-weight: lighter;
}

.headPhoto{
  border-radius: 360px;
  width: 30%;
  margin-left: 35% !important;
  margin-right: 35% !important;
}

#contact{
  position: absolute;
  height: 60%;
  width: 60%;
  top: 20%;
  left: 20%;
  background-color: white;
  z-index: 2;
  display: none;
}


#contentRight #contactPhoto{
    /*---transition---*/
  width: 20%;
  border-radius: 360px;
  margin-right: 40%;
  margin-left: 40%;
  margin-top: 15px;
}


/*--- Menu Right Side ---*/

nav{
      -webkit-transition: width 500ms cubic-bezier(0.19, 1, 0.22, 1); 
   -moz-transition: width 500ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: width 500ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: width 500ms cubic-bezier(0.19, 1, 0.22, 1);
  position: fixed;
  height: 100%;
  width: 100px;
  overflow: hidden !important;
  background-color: black;
  left: 0;
    color: white;
  text-align: center;
}

.navExpand ul{
  max-height: 100%;
  overflow-y: hidden;
}

.navExpand{
  width: 300px;
}

.navExpand ul li{
  cursor: pointer;
}

.navExpand ul li a{
  opacity: 1;
  padding-top: 1%;
  border-top: solid;
  border-color: black;
}



nav ul li{
  height: 60px;
  margin-top: 60px;
  margin-bottom: 60px;
}

nav ul li h2{
  font-size: 21px;
  font-weight: lighter;

}

nav ul li a{
 -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
-moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
-o-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
opacity: 0;
color: white;
font-family: 'Roboto', sans-serif;
font-weight: lighter;
line-height: 50px;
}

#menuRightSide{
-webkit-transition: opacity 1000ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   -moz-transition: opacity 1000ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
     -o-transition: opacity 1000ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
        transition: opacity 1000ms cubic-bezier(0.165, 0.840, 0.440, 1.000); /* easeOutQuart */
  position: fixed;
  height: 100%;
  width: 200px;
  overflow: hidden !important;
  right: 40px;
  color: white;
  text-align: center;
  opacity: 0.5;
}

.menuRightSideHalfHidden{
  opacity: 0.1!important;
}

.menuRightSideHidden{
  opacity: 0!important;
}

#menuRightSide ul{
  height: 70vh;
  margin-top: 30vh;
  color: black;
}

#menuRightSide ul span{
   width: 1%;
  height: 20px;
  background-color: black;
  float: left;
  margin-left: 49%;
  margin-right: 49%;
  margin-top: 40px;
  margin-bottom: 40px;
}

#menuRightSide ul li{
  margin-top: 10%;
  opacity: 0.8;
  cursor: pointer;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto;
}

#menuRightSide ul li:hover{
  opacity: 1;
}

/*MENU SHIFT*/
